<!-- begin main-menu -->
<div class="main-menu">
	<div class="container">
		
		<div class="main-menu__logo">
			<!-- begin logo -->
			<a href="#" class="logo">
				<img src="img/logo.png" secset="img/logo2x.png" alt="logo" class="logo__img">
			</a>
			<!-- end logo -->
		</div>

		<div class="main-menu__general">
			
			<!-- begin menu -->
			<div class="menu">
				<ul class="menu__list">
					<li class="menu__item">
						<a href="#" class="menu__link">new</a>
						<div class="drop-menu">
							<ul>
								<li><a href="#">item#1</a></li>
								<li><a href="#">item#2</a></li>
								<li><a href="#">item#3</a></li>
								<li><a href="#">item#4</a></li>
								<li><a href="#">item#5</a></li>
						</ul>
						</div>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">designers</a>
						<div class="drop-menu">
							<ul>
								<li><a href="#">item#1</a></li>
								<li><a href="#">item#2</a></li>
								<li><a href="#">item#3</a></li>
								<li><a href="#">item#4</a></li>
								<li><a href="#">item#5</a></li>
						</ul>
						</div>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">women</a>
						<div class="drop-menu">
							<ul>
								<li><a href="#">item#1</a></li>
								<li><a href="#">item#2</a></li>
								<li><a href="#">item#3</a></li>
								<li><a href="#">item#4</a></li>
								<li><a href="#">item#5</a></li>
						</ul>
						</div>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">men</a>
						<div class="drop-menu">
							<ul>
								<li><a href="#">item#1</a></li>
								<li><a href="#">item#2</a></li>
								<li><a href="#">item#3</a></li>
								<li><a href="#">item#4</a></li>
								<li><a href="#">item#5</a></li>
						</ul>
						</div>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">clearence</a>
						<div class="drop-menu">
							<ul>
								<li><a href="#">item#1</a></li>
								<li><a href="#">item#2</a></li>
								<li><a href="#">item#3</a></li>
								<li><a href="#">item#4</a></li>
								<li><a href="#">item#5</a></li>
						</ul>
						</div>
					</li>
				</ul>
			</div>
			<!-- end menu -->

		</div>
		<!-- begin cart -->
		<div class="cart">
			<div class="cart__head" href="#">Your cart</div>
			<div class="cart__items">test test</div>
			<div class="cart__total">0 items  |  <span class="cart__money">$ 0</span></div>
		</div>
		<!-- end cart -->

	</div>
</div>
<!-- end main-menu -->