<!-- begin socials -->
<section class="socials">
	<div class="socials-wrap">
		<div class="container">
			
			<div class="socials__mail">
				<form action="#" method="#" class="form" id="js-form">
					<div class="mail-form">
						<label class="mail-form__label" for="email">Stay updated</label>
						<input name="form_mail" class="mail-form__email"  id="email" type="email" placeholder="Your email address">
						<button class="mail-form__button">+</button>
					</div>
				</form>
			</div>

			<div class="socials__links">
				<div class="links">
					<span class="links__text">Find us here</span>
					<ul class="links__list">
						<li class="links__item">
							<a class="links__link fb" href="#"></a>
						</li>
						<li class="links__item">
							<a class="links__link tw" href="#"></a>
						</li>
						<li class="links__item">
							<a class="links__link pr" href="#"></a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>

	<!-- begin socials__images -->
	<div class="socials__images">
		<div class="container">

			<div class="best-wrap">
				<a href="#">
					<div class="best" style="background-image: url(img/best.jpg)">
						<div class="best-inner">
							<strong>best</strong>
							<br>
							<span>outfits</span>
							<div>&</div>
							<span>looks</span>
						</div>
					</div>
				</a>
			</div>

			<div class="best-wrap best-wrap_vertical">
				<a href="#" class="best-item best-item_w" style="background-image: url(img/hh1.jpg)"></a>
				<div class="best-i">
					<a href="#" class="best-item" style="background-image: url(img/hh2.jpg)">
						<span>best sellers</span>
					</a>
					<a href="#" class="best-item" style="background-image: url(img/hh3.jpg)">
						<span>fall leather</span>
					</a>
				</div>
			</div>

		</div>
	</div>
	<!-- end socials__images -->
	
</section>
<!-- end socials -->

<!-- begin main-slider -->
<section class="main-slider">
	<div class="container">
		<div class="slider-navigation">
			<ul class="nav">
				<li class="nav__filter hot active">what’s hot?</li>
				<li class="nav__filter designers">designers</li>
				<li class="nav__filter featured">featured</li>
				<li class="nav__filter latest">latest</li>
			</ul>
		</div>
		<div class="slick-arrows">
			<div class="arrow-lt">&lt;</div>
			<div class="arrow-gt">&gt;</div>
		</div>
	</div>
	<div class="slider">
		<div class="slider__wrapper featured latest">
			<div class="slider__item">
				<a href="#" class="slider__inner">Shop it</a>
				<div class="slider__image" style="background: url(img/slider1.jpg) 0 0 no-repeat; background-size: cover;"></div>
				<div class="slider__content">
					<h3 class="slider__product-name">HOT SHORTS</h3>
					<p class="product__price"># 35.95</p>
					<div class="promo-slider__btn slider__btn">ADD TO CART +</div>
				</div>
			</div>
		</div>
		<div class="slider__wrapper designers latest">
			<div class="slider__item">
				<a href="#" class="slider__inner">Shop it</a>
				<div class="slider__image" style="background: url(img/slider2.jpg) 0 0 no-repeat; background-size: cover;"></div>
				<div class="slider__content">
					<h3 class="slider__product-name">HOT SHORTS</h3>
					<p class="product__price"># 35.95</p>
					<div class="promo-slider__btn slider__btn">ADD TO CART +</div>
				</div>
			</div>
		</div>
		<div class="slider__wrapper featured latest">
			<div class="slider__item">
				<a href="#" class="slider__inner">Shop it</a>
				<div class="slider__image" style="background: url(img/slider1.jpg) 0 0 no-repeat; background-size: cover;"></div>
				<div class="slider__content">
					<h3 class="slider__product-name">HOT SHORTS</h3>
					<p class="product__price"># 35.95</p>
					<div class="promo-slider__btn slider__btn">ADD TO CART +</div>
				</div>
			</div>
		</div>
		<div class="slider__wrapper designers">
			<div class="slider__item">
				<a href="#" class="slider__inner">Shop it</a>
				<div class="slider__image" style="background: url(img/slider2.jpg) 0 0 no-repeat; background-size: cover;"></div>
				<div class="slider__content">
					<h3 class="slider__product-name">HOT SHORTS</h3>
					<p class="product__price"># 35.95</p>
					<div class="promo-slider__btn slider__btn">ADD TO CART +</div>
				</div>
			</div>
		</div>
		<div class="slider__wrapper featured">
			<div class="slider__item">
				<a href="#" class="slider__inner">Shop it</a>
				<div class="slider__image" style="background: url(img/slider1.jpg) 0 0 no-repeat; background-size: cover;"></div>
				<div class="slider__content">
					<h3 class="slider__product-name">HOT SHORTS</h3>
					<p class="product__price"># 35.95</p>
					<div class="promo-slider__btn slider__btn">ADD TO CART +</div>
				</div>
			</div>
		</div>
		<div class="slider__wrapper designers">
			<div class="slider__item">
				<a href="#" class="slider__inner">Shop it</a>
				<div class="slider__image" style="background: url(img/slider2.jpg) 0 0 no-repeat; background-size: cover;"></div>
				<div class="slider__content">
					<h3 class="slider__product-name">HOT SHORTS</h3>
					<p class="product__price"># 35.95</p>
					<div class="promo-slider__btn slider__btn">ADD TO CART +</div>
				</div>
			</div>
		</div>
		<div class="slider__wrapper featured">
			<div class="slider__item">
				<a href="#" class="slider__inner">Shop it</a>
				<div class="slider__image" style="background: url(img/slider1.jpg) 0 0 no-repeat; background-size: cover;"></div>
				<div class="slider__content">
					<h3 class="slider__product-name">HOT SHORTS</h3>
					<p class="product__price"># 35.95</p>
					<div class="promo-slider__btn slider__btn">ADD TO CART +</div>
				</div>
			</div>
		</div>
		<div class="slider__wrapper designers">
			<div class="slider__item">
				<a href="#" class="slider__inner">Shop it</a>
				<div class="slider__image" style="background: url(img/slider2.jpg) 0 0 no-repeat; background-size: cover;"></div>
				<div class="slider__content">
					<h3 class="slider__product-name">HOT SHORTS</h3>
					<p class="product__price"># 35.95</p>
					<div class="promo-slider__btn slider__btn">ADD TO CART +</div>
				</div>
			</div>
		</div>
		<div class="slider__wrapper designers">
			<div class="slider__item">
				<a href="#" class="slider__inner">Shop it</a>
				<div class="slider__image" style="background: url(img/slider2.jpg) 0 0 no-repeat; background-size: cover;"></div>
				<div class="slider__content">
					<h3 class="slider__product-name">HOT SHORTS</h3>
					<p class="product__price"># 35.95</p>
					<div class="promo-slider__btn slider__btn">ADD TO CART +</div>
				</div>
			</div>
		</div>
		<div class="slider__wrapper designers latest">
			<div class="slider__item">
				<a href="#" class="slider__inner">Shop it</a>
				<div class="slider__image" style="background: url(img/slider3.jpg) 0 0 no-repeat; background-size: cover;"></div>
				<div class="slider__content">
					<h3 class="slider__product-name">HOT SHORTS</h3>
					<p class="product__price"># 35.95</p>
					<div class="promo-slider__btn slider__btn">ADD TO CART +</div>
				</div>
			</div>
		</div>
		<div class="slider__wrapper featured latest">
			<div class="slider__item">
				<a href="#" class="slider__inner">Shop it</a>
				<div class="slider__image" style="background: url(img/slider1.jpg) 0 0 no-repeat; background-size: cover;"></div>
				<div class="slider__content">
					<h3 class="slider__product-name">HOT SHORTS</h3>
					<p class="product__price"># 35.95</p>
					<div class="promo-slider__btn slider__btn">ADD TO CART +</div>
				</div>
			</div>
		</div>
		<div class="slider__wrapper featured latest">
			<div class="slider__item">
				<a href="#" class="slider__inner">Shop it</a>
				<div class="slider__image" style="background: url(img/slider1.jpg) 0 0 no-repeat; background-size: cover;"></div>
				<div class="slider__content">
					<h3 class="slider__product-name">HOT SHORTS</h3>
					<p class="product__price"># 35.95</p>
					<div class="promo-slider__btn slider__btn">ADD TO CART +</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end main-slider -->

<!-- begin clearence -->
<section class="clearence">
	<div class="container"><a href="#" class="clearence__link">
		<img src="img/ribbed.png" alt="ribbed" class="clearence__img">
	</a></div>
</section>
<!-- end clearence -->

<!-- begin promo -->
<div class="promo">
	<div class="container">
		<div class="promo-item">
			<div class="slider__item">
					<a href="#" class="slider__inner">Shop it</a>
					<div class="slider__image" style="background: url(img/slider3.jpg) 0 0 no-repeat; background-size: cover;"></div>
					<div class="slider__content">
						<h3 class="slider__product-name">HOT SHORTS</h3>
						<p class="product__price"># 35.95</p>
						<div class="promo-slider__btn slider__btn">ADD TO CART +</div>
					</div>
				</div>
		</div>
		<div class="promo-item">
			<div class="slider__item">
					<a href="#" class="slider__inner">Shop it</a>
					<div class="slider__image" style="background: url(img/slider3.jpg) 0 0 no-repeat; background-size: cover;"></div>
					<div class="slider__content">
						<h3 class="slider__product-name">HOT SHORTS</h3>
						<p class="product__price"># 35.95</p>
						<div class="promo-slider__btn slider__btn">ADD TO CART +</div>
					</div>
				</div>
		</div>
		<div class="promo-item">
			<div class="slider__item">
					<a href="#" class="slider__inner">Shop it</a>
					<div class="slider__image" style="background: url(img/slider3.jpg) 0 0 no-repeat; background-size: cover;"></div>
					<div class="slider__content">
						<h3 class="slider__product-name">HOT SHORTS</h3>
						<p class="product__price"># 35.95</p>
						<div class="promo-slider__btn slider__btn">ADD TO CART +</div>
					</div>
				</div>
		</div>
		<div class="promo-item">
			<div class="slider__item">
					<a href="#" class="slider__inner">Shop it</a>
					<div class="slider__image" style="background: url(img/slider3.jpg) 0 0 no-repeat; background-size: cover;"></div>
					<div class="slider__content">
						<h3 class="slider__product-name">HOT SHORTS</h3>
						<p class="product__price"># 35.95</p>
						<div class="promo-slider__btn slider__btn">ADD TO CART +</div>
					</div>
				</div>
		</div>

	</div>
</div>
<!-- end promo -->

<!-- begin brands -->
<section class="brands">
	<div class="container">
		<h3 class="brands__title">favourite brands</h3>
		<div class="bradns-wrapper">
			<a href="#"><img src="img/brand1.jpg" alt="brand" class="brand-img"></a>
			<a href="#"><img src="img/brand2.jpg" alt="brand" class="brand-img"></a>
			<a href="#"><img src="img/brand3.jpg" alt="brand" class="brand-img"></a>
			<a href="#"><img src="img/brand4.jpg" alt="brand" class="brand-img"></a>
			<a href="#"><img src="img/brand5.jpg" alt="brand" class="brand-img"></a>
			<a href="#"><img src="img/brand6.jpg" alt="brand" class="brand-img"></a>
			<a href="#"><img src="img/brand7.jpg" alt="brand" class="brand-img"></a>
			<a href="#"><img src="img/brand8.jpg" alt="brand" class="brand-img"></a>
		</div>
	</div>
</section>
<!-- end brands -->
<!-- begin about -->
<section class="about">
	<div class="container">
		<h2 class="about__title">About LookShop</h2>
		<p class="about__text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.</p>
	</div>
</section>
<!-- end about -->

<!-- begin payment -->
<section class="payment">
	<div class="container">
		<a href="#"></a><span class="payment__text">We accept</span>
		<a href="#"><img src="img/visa.jpg" alt="payment" class="payment-img"></a>
		<a href="#"><img src="img/paypal.jpg" alt="payment" class="payment-img"></a>
		<a href="#"><img src="img/mastercard.jpg" alt="payment" class="payment-img"></a>
		<a href="#"><img src="img/paypal.jpg" alt="payment" class="payment-img"></a>
		<a href="#"><img src="img/visa.jpg" alt="payment" class="payment-img"></a>
		<a href="#"><img src="img/paypal.jpg" alt="payment" class="payment-img"></a>
		<a href="#"><img src="img/visa.jpg" alt="payment" class="payment-img"></a>
		<a href="#"><img src="img/mastercard.jpg" alt="payment" class="payment-img"></a>
		<a href="#"><img src="img/paypal.jpg" alt="payment" class="payment-img"></a>
		<a href="#"><img src="img/mastercard.jpg" alt="payment" class="payment-img"></a>
	</div>
</section>
<!-- end payment -->
<!-- begin links-blocks -->
<section class="links-blocks">
	<div class="container">
		<div class="links-block">
			<h4 class="links-block__title">Customer Service</h4>
			<ul class="links-block__list">
				<li class="links-block__item"><a href="#" class="links-block__link">Contact</a></li>
				<li class="links-block__item"><a href="#" class="links-block__link">FAQ</a></li>
				<li class="links-block__item"><a href="#" class="links-block__link">Terms of payment</a></li>
				<li class="links-block__item"><a href="#" class="links-block__link">Terms of sale</a></li>
				<li class="links-block__item"><a href="#" class="links-block__link">Delivery terms and conditions</a></li>
				<li class="links-block__item"><a href="#" class="links-block__link">Returns and Refunds</a></li>
			</ul>
		</div>
		<div class="links-block">
			<h4 class="links-block__title">Information</h4>
			<ul class="links-block__list">
				<li class="links-block__item"><a href="#" class="links-block__link">Affiliate</a></li>
				<li class="links-block__item"><a href="#" class="links-block__link">Cookies</a></li>
				<li class="links-block__item"><a href="#" class="links-block__link">How to Shop</a></li>
				<li class="links-block__item"><a href="#" class="links-block__link">About Nelly</a></li>
				<li class="links-block__item"><a href="#" class="links-block__link">Investor relations</a></li>
			</ul>
		</div>
		<div class="links-block">
			<h4 class="links-block__title">Campaigns</h4>
			<ul class="links-block__list">
				<li class="links-block__item"><a href="#" class="links-block__link">Evening dresses</a></li>
				<li class="links-block__item"><a href="#" class="links-block__link">Makeup</a></li>
				<li class="links-block__item"><a href="#" class="links-block__link">Fashion forward</a></li>
				<li class="links-block__item"><a href="#" class="links-block__link">Training clothes</a></li>
				<li class="links-block__item"><a href="#" class="links-block__link">Special Occasion Dresses</a></li>
			</ul>
		</div>
		<div class="links-block">
			<h4 class="links-block__title">Stores</h4>
			<ul class="links-block__list">
				<li class="links-block__item"><a href="#" class="links-block__link">Paris</a></li>
				<li class="links-block__item"><a href="#" class="links-block__link">Tokio</a></li>
				<li class="links-block__item"><a href="#" class="links-block__link">New York</a></li>
				<li class="links-block__item"><a href="#" class="links-block__link">London</a></li>
				<li class="links-block__item"><a href="#" class="links-block__link">Madrid</a></li>
			</ul>
		</div>
		<div class="links-block">
			<h4 class="links-block__title">Social</h4>
			<div class="social">
				<a href="#" class="social__item">{{mixins.icon('tw')}}</a>
				<a href="#" class="social__item">{{mixins.icon('fb')}}</a>
				<a href="#" class="social__item">{{mixins.icon('google')}}</a>
				<a href="#" class="social__item">{{mixins.icon('fb')}}</a>
				<a href="#" class="social__item">{{mixins.icon('tw')}}</a>
				<a href="#" class="social__item">{{mixins.icon('google')}}</a>
			</div>
		</div>
		<div class="links-block links-block_100">
			<a href="#"><img src="img/100.png" alt=""></a>
		</div>
	</div>
	
</section>
<!-- end links-blocks -->

<footer class="footer">
	<div class="container">
		<ul class="footer-menu">
			<li class="footer-menu__item"><a href="#" class="footer-menu__link">Privacy &amp; Cookies</a></li>
			<li class="footer-menu__item"><a href="#" class="footer-menu__link">Terms &amp; Conditions</a></li>
			<li class="footer-menu__item"><a href="#" class="footer-menu__link">Accessibility</a></li>
			<li class="footer-menu__item"><a href="#" class="footer-menu__link">Store Directory</a></li>
			<li class="footer-menu__item"><a href="#" class="footer-menu__link">About Us</a></li>
		</ul>
		<div class="copyright">
			&copy; LookShop.com<br>
			All Rights Reserved
		</div>
	</div>
</footer>