<!-- begin promo-slider -->
<section class="promo-slider-section">
  <div class="js-promo-slider promo-slider">
    <div class="promo-slider__item">
      <div class="container">
        <div class="promo-slider__inner">
          <img class="promo-slider__img" src="img/crazy.png" alt="crazy.png">
          <div class="btn-inner">
            <a class="promo-slider__btn" href="#">shop now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="promo-slider__item">
      <div class="container">
        <div class="promo-slider__inner">
          <img class="promo-slider__img" src="img/crazy.png" alt="crazy.png">
          <div class="btn-inner">
            <a class="promo-slider__btn" href="#">shop now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="promo-slider__item">
      <div class="container">
        <div class="promo-slider__inner">
          <img class="promo-slider__img" src="img/crazy.png" alt="crazy.png">
          <div class="btn-inner">
            <a class="promo-slider__btn" href="#">shop now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="promo-slider__item">
      <div class="container">
        <div class="promo-slider__inner">
          <img class="promo-slider__img" src="img/crazy.png" alt="crazy.png">
          <div class="btn-inner">
            <a class="promo-slider__btn" href="#">shop now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="promo-slider__item">
      <div class="container">
        <div class="promo-slider__inner">
          <img class="promo-slider__img" src="img/crazy.png" alt="crazy.png">
          <div class="btn-inner">
            <a class="promo-slider__btn" href="#">shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-nav"></div>
  <!-- </div> -->
  <div class="slider-arrows">
    <button class="slider-arrow slider-arrows__prev"></button>
    <button class="slider-arrow slider-arrows__next"></button>
  </div>
</section>
<!-- end promo-slider -->
